/* :root {
    --snakeX--value : 0;
    --snakeY--value : 0;
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("./snake-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.game-board {
    position: absolute;
    background-color: black;
    width: 65vmin;
    height: 70vmin;
    border: 4px solid greenyellow;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
   
}

.controls {
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: stretch center;
color: rgb(255, 250, 250);
width: 65vmin;
font-size: 24px;
height: 50px;
background-color: gray;
margin: auto;
cursor: pointer;
position: absolute;
bottom: 10px; /* This positions the element at 10px from the bottom of its container */
left: 50%;
transform: translate(-50%); /* Keeps the element horizontally centered */
border: 2px solid greenyellow;

     
}

.controls > div {
    border: 2px solid yellowgreen;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake {
    background-color: aqua;
   
}


.food {
    background-color: yellowgreen;
    
}


.score-dashboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65vmin;
    height: 30px;
    background-color: gray;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}